{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias sed ab! Corrupti voluptatibus debitis voluptates. Enim magni voluptates exercitationem quod. Aspernatur itaque ut vel et alias dolore libero aperiam.">
    <title>Offiis</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <script src="{% static 'js/all.js' %}"></script>
</head>
<body>
   
<!-- header and nav -->
<nav id="nav-lg">
    <div class="add-social-wrapper">
            <div class="contact-box-up">
                <div class="email-box">
                    <i class="fas fa-envelope"></i>
                    <p>info@offiisemail@gmail.com</p>
                </div>
                <div class="phone-box">
                    <i class="fas fa-phone-square-alt"></i>
                    <p>+233 123-4567</p>
                </div>
            </div>
            <div class="social-box-up">
                <button class="social-btn">
                    <i class="fab fa-facebook"></i>
                </button>
                <button class="social-btn">
                    <i class="fab fa-instagram"></i>
                </button>
                <button class="social-btn">
                    <i class="fab fa-twitter"></i>
                </button>
                <button class="social-btn">
                    <i class="fab fa-youtube"></i>
                </button>
            </div>
        </div>
        <div class="nav-wrapper">
            <div class="nav-links">
                <a href="#">Home</a>
                <a href="#about">about</a>
                <a href="#features">features</a>
            </div>
            <div class="logo-box">
                <img src="{% static 'img/logo-img.jpg' %}" alt="logo Offiis">
            </div>
            <div class="nav-links">
                <button class="search-open-btn" aria-label="open search button">
                    <i class="fas fa-search"></i>
                </button>
                <a href="#appInter">app Interface</a>
                <a href="#demo">see demo</a>
                <a href="#download" class="download-pointer">download</a>
            </div>
            <div class="search-form">
                <input type="search" placeholder="search for blog">
                <button class="search-btn" aria-label="search button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </nav>
    <!-- mobile nav -->
    <nav class="mobile-nav">
        <button class="menu-btn" aria-label="mobile navigation button">
            <i class="fas fa-bars"></i>
        </button>
        <div class="nav-items">
            <ul>
                <li>
                    <a href="#">home</a>
                </li>
                <li>
                    <a href="#about">about</a>
                </li>
                <li>
                    <a href="#features">features</a>
                </li>
                <li>
                    <a href="#appInter">app interface</a>
                </li>
                <li>
                    <a href="#demo">see demo</a>
                </li>
                <li>
                    <a href="#">download</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- end of mobile nav -->

{% block content %}

{% endblock %}
<!-- footer -->
<footer>
    <div class="footer-wrapper">
        <div class="section-1">
            <div class="logo-box">
                <img src="{% static 'img/logo-img.jpg' %}" alt="offiis logo">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius delectus, nam tempora ipsa consequuntur a mollitia distinctio velit doloribus suscipit, temporibus atque modi voluptates voluptatum. Non asperiores nobis fuga nemo.</p>
            <div class="social-wrapper">
                <button class="social-btn">
                    <i class="fab fa-facebook"></i>
                </button>
                <button class="social-btn">
                    <i class="fab fa-instagram"></i>
                </button>
                <button class="social-btn">
                    <i class="fab fa-twitter"></i>
                </button>
                <button class="social-btn">
                    <i class="fab fa-youtube"></i>
                </button>
            </div>
        </div>
        <div class="section-2">
            <h1>quick links</h1>
            <ul>
                <li>
                    <a href="#about">about</a>
                </li>
                <li>
                    <a href="#features">features</a>
                </li>
                <li>
                    <a href="#privacy">privacy</a>
                </li>
            </ul>
        </div>
        <div class="section-3">
            <h1>newsletter</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, nesciunt.</p>
            <div class="mail-box">
                <input type="email" placeholder="your email address">
                <button class="send-btn">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </button>
            </div>
        </div>
    </div>
    <p class="outro">&copy; copyright 2022 Offiis | all rights reserved</p>

    <!-- contact info box -->
    <div class="contact-info-box">
        <div class="mail-box">
            <button class="icon-btn">
                <i class="fas fa-envelope"></i>
            </button>
            <p>info@offiisemail.com</p>
        </div>
        <div class="phone-box">
            <button class="icon-btn">
                <i class="fas fa-phone-alt"></i>
            </button>
            <p>+233 234 5678</p>
        </div>
    </div>
</footer>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

  </script>
</body>
</html>