{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- header and nav -->
  <header>
    <nav>
     <div class="nav-wrapper">
         <div class="logo-box">
             <img src="{% static 'img/logo.png' %}" alt="offiis logo">
         </div>
         <ul class="nav-list">
             <li>
                 <a href="#contact">contact us</a>
             </li>
             <li>
                 <a href="#about">about</a>
             </li>
             <li>
                 <a href="#security">security</a>
             </li>
        </ul>
     </div>
    </nav>
    <div class="header-wrapper">
     <div class="content-wrapper">
         <div class="content-box" data-aos="fade-left">
             <h1>Get All Ports Clearing
                Agents Offices in the
                Pocket</h1>
             <p>Easiest and meaningful way to connect with clearing agents and freight-forwarders in Tema port, Takoradi
                port and Kotoka International Airport.
                </p>
             <div class="download-box">
                 <a href="#n" aria-label="download from playstore">
                     <img src="{% static 'img/playstore.png' %}" alt="">
                 </a>
                 <a href="#n"  aria-label="download from appstore">
                     <img src="{% static 'img/appstore.png' %}" alt="">
                 </a>
             </div>
         </div>
         <div class="content-img" data-aos="fade-right" data-aos-delay="200">
             <img src="{% static 'img/header.png' %}" alt="cartoon image of a young man smiling with a computer.">
         </div>
     </div>
    </div>
</header>
<div class="divider">
    <p>Making connection between importers and clearing agents easier.</p>
</div>
<!-- hero section -->
<section class=" hero hero-1" id="about">
    <div class="section-wrapper">
        <div class="hero-wrapper">
            <div class="img-box" data-aos="fade-left">
                <img src="{% static 'img/hero1.png' %}" alt="cartoon image">
            </div>
            <div class="content-box" data-aos="fade-right" data-aos-delay="200">
                <h2>Instantly Call or Text  Every
                    Clearing Agent From the 
                    Offiiss App
                    </h2>
                <p>Like never before we have removed the mundane in the way you connect with clearing agents to save time and money whiles you attend to the most important things</p>
            </div>
        </div>
    </div>
</section>
<section class="hero hero-2">
    <div class="section-wrapper">
        <div class="hero-wrapper">
            <div class="content-box" data-aos="fade-right">
                <h2>Message to Book for All Types of Vehicle On the Go</h2>
                <p>Instantly call and chat with your next agent, trailer driver and ask for a quote, duty estimate, 
                    transportation cost, book an appointment
                    and get the conversation going with prospective clearing agents.
                    </p>
                <button class="all-btn coming">coming soon</button>
            </div>
            <div class="img-box" data-aos="fade-left" data-aos-delay="200">
                <img src="{% static 'img/hero2.png' %}" alt="">
            </div>
        </div>
    </div>
</section>
<section class="hero hero-2">
    <div class="review-divider" data-aos="fade-up">
        <button>
            <i class="fas fa-star"></i>
        </button>
        <h4>Review your agent and trailer driver.</h4>
        <button>
            <i class="fas fa-star"></i>
        </button>
    </div>
    <div class="section-wrapper">
        <div class="hero-wrapper">
            <div class="img-box" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'img/hero3.png' %}" alt="cartoon image">
            </div>
            <div class="content-box" data-aos="fade-up" data-aos-delay="300">
                <h2>Rate and Comment On Your Agent's 
                    Clearing Experience. Other Importers
                    Need to Know.
                    </h2>
                <p>For Offiiss app, importers and exporters are now able to have 
                    a voice that gives them absolute control by
                    sharing how they feel about their agents' performance to 
                    the public. This helps improve the quality
                    of service of agents.
                    </p>
            </div>
        </div>
    </div>
</section>
<!-- end of hero section -->
<!-- values section -->
<section class="values">
    <h2>our values</h2>
    <div class="section-wrapper">
        <div class="values-wrapper">
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="100">
                <h4>Passion and Enthusiasm
                </h4>
                <p>We are passionate in trying to make the lives of importers and exporters better by removing the manual and mundane from their extremely busy days.
                </p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="200">
                <h4>All have a voice
                </h4>
                <p>The reason we have the best platform on the market is because our team and clients are invited to have a seat at the table to make the platform better for all. We listen because we care and want to build greatness.

                </p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="300">
                <h4>Transparency
                </h4>
                <p>We are an open book, we are honest and open with our clients and if we make mistakes we aim to fix them as soon as possible. We are not scared to try things that may not work out, but we will tell you when they don't.
                </p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="400">
                <h4>Technology
                </h4>
                <p>Technology and innovation is at the core of what we do. We invest heavily in our technology, so the evolution of the platform is unmatched by others. We love to delight customers. 

                </p>
            </div>
            <!-- end -->
        </div>
    </div>
</section>
<!-- end of values section -->
<!-- testimonial section -->
<section class="testimonial">
    <div class="section-wrapper">
        <h2 class="title">what others have to say</h2>
        <div class="testimonial-wrapper">
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="100" tabindex="0">
                <div class="up">
                    <div class="img-box">
                        <img src="{% static 'img/pic/pic1.png' %}" alt="Person image">
                    </div>
                    <h4 class="name">John Asamoah</h4>
                </div>
                <p class="msg">It’s amazing how I can now call or message clearing agents from anywhere without having to call a friend or anyone else to refer me to an agent. Huge change!</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="200" tabindex="0">
                <div class="up">
                    <div class="img-box">
                        <img src="{% static 'img/pic/pic2.png' %}" alt="Person image">
                    </div>
                    <h4 class="name">Daniel Quainoo</h4>
                </div>
                <p class="msg"> With the review feature it’s easy to find a reliable and competent agents based on the comments of previous clients. I will recommend Offiiss app for importers and exporters</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="300" tabindex="0">
                <div class="up">
                    <div class="img-box">
                        <img src="{% static 'img/pic/pic3.png' %}" alt="Person image">
                    </div>
                    <h4 class="name">Rena Boakye</h4>
                </div>
                <p class="msg"> Now I have a lot of options to choose from. I can get trusted new agents at any given day. Wow! Offiiss is now the thing.</p>
            </div>
            <!-- end -->
            <!-- start -->
            <div class="box" data-aos="fade-up" data-aos-delay="300" tabindex="0">
                <div class="up">
                    <div class="img-box">
                        <img src="{% static 'img/pic/pic4.png' %}" alt="Person image">
                    </div>
                    <h4 class="name">Felix Amponsah</h4>
                </div>
                <p class="msg"> Offiiss app is so simple to use and helpful. Getting agents are easy and I always get satisfactory services.</p>
            </div>
            <!-- end -->
        </div>
    </div>
</section>
<!-- end of testimonial section -->
<!-- contact section -->
<section class="contact" id="contact">
    <div class="section-wrapper">
        <div class="contact-form">
            <h4 style="text-transform: uppercase;">contact us</h4>
            <form action="#">
                <input type="text" placeholder="name" data-aos="fade-up" data-aos-delay="100">
                <input type="text" placeholder="email" data-aos="fade-up" data-aos-delay="200">
                <textarea placeholder="message" data-aos="fade-up" data-aos-delay="300"></textarea>
                <input type="submit" value="send" data-aos="fade-up" data-aos-delay="400">
            </form>
        </div>
    </div>
</section>
<!-- end of contact section -->
<!-- text section -->
<section class="text" id="security">
    <div class="section-wrapper" >
        <h2>Securely Removing The Manual And Mundane By Connecting Everyone In The Clearing and Freight Forwarding Process.</h2>
        <p>  Because we truly care about your safety and trust we make sure the platform is built solely for customs certified clearing agents and freight forwarders. Agents and transporters are taken through a rigorous identification and verification process before their profiles get activated on the platform.</p>
        <a href="{% url 'security' %}">Learn more about safety tips and security</a>
    </div>
</section>
<!-- end of text text section-->
<!-- secure img -->
<div class="secure-img">
    <img src="{% static 'img/secure.jpg' %}" alt="cartoon image">
    <div class="overlay"></div>
</div>
<!-- end of secure img -->

{% endblock %}