{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if msg %}
<div class="wel-notice" role="alert">
    <h1>Welcome back</h1>
</div>
{% else %}
<div class="wel-notice" role="alert">
    <h1>This is your first visit</h1>
</div>
{% endif %}
 <!-- header content -->
 <header>
    <div class="header-content">
        <div class="offet-border">
            <div class="welcome-msg-box">
                <h1 class="wel-msg">Offiis export / import</h1>
                <p class="wel-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur rem deleniti, placeat laudantium totam, dolores at recusandae vitae consequatur inventore accusamus facilis nostrum enim vel dolorum! Accusamus corrupti ex ipsum!</p>
                <h2>download app now</h2>
                <div class="download-wrapper">
                    <a href="#n" class="google-play-box">
                        <i class="fab fa-google-play icon"></i>
                        <div class="content-box">
                            <p>get it on</p>
                            <h4>google Play</h4>
                        </div>
                    </a>
                    <a href="#n" class="app-store-box">
                        <i class="fab fa-apple icon"></i>
                        <div class="content-box">
                            <p>get it on</p>
                            <h4>app store</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="img-box">
            <img src="{% static 'img/header-img.jpg' %}" alt="image of mobile phone with offiis app opened">
        </div>
    </div>
    
</header>
<!-- end of header content -->
<!-- about section  -->
<section id="about">
    <div class="section-wrapper">
        <div class="about-head">
            <h3>about our app</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque explicabo repudiandae culpa deserunt velit molestiae non ea quod ad? Necessitatibus sit corporis commodi harum amet consequatur, blanditiis exercitationem sed. Rerum.</p>
        </div>
        <div class="about-content-box">
            <div class="img-box">
                <img src="{% static 'img/about-img.jpg' %}" alt="">
            </div>
            <div class="about-wrapper">
                <!-- start -->
                <div class="about-box">
                    <i class="fas fa-check-circle icon"></i>
                    <div class="text-box">
                        <h4>access clearing agent</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod recusandae, officia nostrum at quos blanditiis non. Assumenda doloribus aut veniam excepturi velit ab, eaque rem soluta minus dignissimos voluptatem maiores?</p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="about-box">
                    <i class="fas fa-check-circle icon"></i>
                    <div class="text-box">
                        <h4>review your agent</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod recusandae, officia nostrum at quos blanditiis non. Assumenda doloribus aut veniam excepturi velit ab, eaque rem soluta minus dignissimos voluptatem maiores?</p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="about-box">
                    <i class="fas fa-check-circle icon"></i>
                    <div class="text-box">
                        <h4>best user experience</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod recusandae, officia nostrum at quos blanditiis non. Assumenda doloribus aut veniam excepturi velit ab, eaque rem soluta minus dignissimos voluptatem maiores?</p>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>
</section>
<!-- end of about section  -->
<!-- app features -->
<section id="features">
    <div class="section-wrapper">
        <div class="feat-head">
            <h3>app features</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque explicabo repudiandae culpa deserunt velit molestiae non ea quod ad? Necessitatibus sit corporis commodi harum amet consequatur, blanditiis exercitationem sed. Rerum.</p>
        </div>
        <div class="feat-wrapper">
            <div class="detail-wrapper">
                <div class="detail-box">
                    <i class="fas fa-box-open icon"></i>
                    <h4>unlimited features</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quae!</p>
                </div>
                <div class="detail-box">
                    <i class="fas fa-drafting-compass icon"></i>
                    <h4>unlimited features</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quae!</p>
                </div>
            </div>
            <div class="img-box">
                <img src="{% static 'img/features.jpg' %}" alt="">
            </div>
            <div class="detail-wrapper">
                <div class="detail-box">
                    <i class="fas fa-mobile-alt icon"></i>
                    <h4>unlimited features</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quae!</p>
                </div>
                <div class="detail-box">
                    <i class="fas fa-user-tie icon"></i>
                    <h4>24/7 support by real people</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quae!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of app features -->
{% endblock %}