{% extends 'base.html' %}
{% load static %}
{% load tag %}
{% block content %}
{% if visit  %}
<div class="wel-notice" role="alert">
    <h4>Welcome back our user. Do not forget to download the offis app.</h4>
</div>
{% else %}
<div class="wel-notice" role="alert">
    <h1>Hello welcome to offis app home page. Download the app today.</h1>
</div>
{% endif %}
 <!-- header content -->
 <header>
    <div class="header-content">
        <div class="offet-border" data-aos="fade-right">
            <div class="welcome-msg-box" data-aos="fade-left">
                <h1 class="wel-msg">Offiis export / import</h1>
                <p class="wel-p">Bringing Clearing Agent
                    Offices in the Pockets 
                    of Importers and
                    Exporters Alike.
                     A cloud based Marketplace that revolutionizes the way importers and exporters interact with agents and transporters anytime anywhere, by using the latest in technology.</p>
                <h2>download app now</h2>
                <div class="download-wrapper">
                    <a href="#n" class="google-play-box">
                        <i class="fab fa-google-play icon"></i>
                        <div class="content-box">
                            <p>get it on</p>
                            <h4>google Play</h4>
                        </div>
                    </a>
                    <a href="#n" class="app-store-box">
                        <i class="fab fa-apple icon"></i>
                        <div class="content-box">
                            <p>get it on</p>
                            <h4>app store</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="img-box" data-aos="fade-left">
            <img src="{% static 'img/header-img.jpg' %}" alt="image of mobile phone with offiis app opened">
        </div>
    </div>
    
</header>
<!-- end of header content -->
<!-- about section  -->
<section id="about">
    <div class="section-wrapper">
        <div class="about-head" data-aos="fade-up">
            <h3>ABOUT OFFIIS</h3>
            <p class="big">Removing The Manual And Mundane From Clearing Agent-Importer Relationship</p>
            <p>A cloud based Marketplace that revolutionizes the way importers and exporters interact with agents and transporters anytime anywhere, by using the latest in technology.
            </p>
        </div>
        <div class="about-content-box">
            <div class="img-box" data-aos="fade-left">
                <img src="{% static 'img/about-img.jpg' %}" alt="">
            </div>
            <div class="about-wrapper" data-aos="fade-right">
                <div class="about-head" data-aos="fade-up">
                    <h3>Our Values </h3>
                </div>
                <!-- start -->
                <div class="about-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="fas fa-check-circle icon"></i>
                    <div class="text-box">
                        <h4>Passion and Enthusiasm</h4>
                        <p>We are passionate in trying to make the lives of property managers better by removing the manual and mundane from their extremely busy days.</p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="about-box" data-aos="fade-up" data-aos-delay="200">
                    <i class="fas fa-check-circle icon"></i>
                    <div class="text-box">
                        <h4>All have a voice</h4>
                        <p>The reason we have the best platform on the market is because our team and clients are invited to have a seat at the table to make the platform better for all. We listen because we care and want to build greatness.                        </p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="about-box" data-aos="fade-up" data-aos-delay="300">
                    <i class="fas fa-check-circle icon"></i>
                    <div class="text-box">
                        <h4>Transparency                        </h4>
                        <p>We are an open book, we are honest and open with our clients and if we make mistakes we aim to fix them as soon as possible. We are not scared to try things that may not work out, but we will tell you when they don't.
                        </p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="about-box" data-aos="fade-up" data-aos-delay="400">
                    <i class="fas fa-check-circle icon"></i>
                    <div class="text-box">
                        <h4>Technology                        </h4>
                        <p>Technology and innovation is at the core of what we do. We invest heavily in our technology, so the evolution of the platform is unmatched by others. We love to delight customers.
                        </p>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>
</section>
<!-- end of about section  -->
<!-- app features -->
<section id="features">
    <div class="section-wrapper">
        <div class="feat-head" data-aos="fade-up">
            <h3>app features</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque explicabo repudiandae culpa deserunt velit molestiae non ea quod ad? Necessitatibus sit corporis commodi harum amet consequatur, blanditiis exercitationem sed. Rerum.</p>
        </div>
        <div class="feat-wrapper">
            <div class="detail-wrapper detail-1" data-aos="fade-right">
                <div class="detail-box">
                    <i class="fas fa-box-open icon"></i>
                    <h4>unlimited features</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quae!</p>
                </div>
                <div class="detail-box">
                    <i class="fas fa-drafting-compass icon"></i>
                    <h4>unlimited features</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quae!</p>
                </div>
            </div>
            <div class="img-box" data-aos="zoom-out">
                <img src="{% static 'img/features.jpg' %}" alt="">
            </div>
            <div class="detail-wrapper detail-2" data-aos="fade-left">
                <div class="detail-box">
                    <i class="fas fa-mobile-alt icon"></i>
                    <h4>ios & android version</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quae!</p>
                </div>
                <div class="detail-box">
                    <i class="fas fa-user-tie icon"></i>
                    <h4>24/7 support by real people</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quae!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of app features -->
<!-- app interface -->
<section class="app-interface" id="appInter">
    <div class="section-wrapper">
        <div class="inter-head" data-aos="fade-up">
            <h3>Easily and Securely Connect With Agents 
                and Transporters.
                </h3>
            <p>Instantly call and chat with your next agent,trailer 
                driver and ask for a quote, duty estimate, transportation cost,
                 book an appointment and get the conversation going with prospective clearing agents and Transporters.
                  </p>
        </div>
        <div class="slide-container swiper" data-aos="fade-up">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="img-box swiper-slide">
                        <img src="{% static 'img/app-inter-1.jpg' %}" alt="">
                    </div>
                    <div class="img-box swiper-slide">
                        <img src="{% static 'img/app-inter-2.jpg' %}" alt="">
                    </div>
                    <div class="img-box swiper-slide">
                        <img src="{% static 'img/app-inter-3.jpg' %}" alt="">
                    </div>
                    <div class="img-box swiper-slide">
                        <img src="{% static 'img/features.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<!-- end of app interface -->
<!-- end of demo -->
<section id="demo">
    <div class="section-wrapper">
        <div class="demo-head feat-head" data-aos="fade-up">
            <h3>a guide to the app perfectly</h3>
            <p>Because we truly care about your safety and trust we make sure the platform is built solely for    customs certified clearing agents and freight forwarders. Agents and transporters are taken through a rigorous identification and verification process before their profiles get activated on the platform.                                                              </p>
        </div>
    </div>
    <!-- video box -->
    <div class="video-box" data-aos="fade-up" tabindex="0">
        <video src="{% static 'img/demo-vid.mp4' %}" loop>Your browser does not support video tag</video>
        <div class="vid-overlay">
            <button class="play-btn play" aria-label="video play or pause button">
                <i class="fas fa-play"></i>
            </button>
        </div>
    </div>
</section>
<!-- demo -->
<!-- blog -->

<section id="blog">
    <div class="section-wrapper">
        <div class="blog-head feat-head" data-aos="fade-up">
            <h3>our recent articles</h3>
            <p>Rate and Comment on your agent's clearing experience. 
                More than ever importers and exporters are able to have a voice that gives them absolute control by sharing how they felt about their agents' performance to the public. This helps improve the quality service of agents.
                </p>
        </div>
        <div class="blog-wrapper">
            <!-- start of blog -->
            {% for post in recent %}
            <div class="blog-card" tabindex="0" data-aos="fade-up">
                <div class="img-box" aria-label="blog image">
                    <img src=" {{post.image.url}}" alt=" {{post.title}}">
                </div>
                <div class="content-box">
                    <p class="date" aria-label="date {{post.created_on}}">published {{post.created_on|ago}}</p>
                    <p class="title" aria-label="blog title">{{post.title|markdown|truncatewords_html:15}}</p>
                    <p class="text">{{ post.text|markdown|truncatewords_html:20 }}</p>
                    <a href="{{post.get_absolute_url}}" class="read-more-btn">
                        read more</a>
                </div>
            </div>
            {% endfor %}          
            <!-- end of blog -->
        </div>
    </div>
</section>
<!-- end of blog -->

 
{% endblock %}