:root {
    --white: #fff;
    --white2: rgb(201, 196, 196);
    --black: rgb(1, 1, 30);
    --gray: rgba(27, 25, 25, 0.7);
    --grayLight: rgb(218, 213, 213);
    --blue: rgb(0, 0, 52);
    --bluel: rgb(0, 0, 52, .6);
    --lightorange: rgba(244, 133, 59,.5);
    --lightBlue: #8482cf;
    --blueLight: rgba(164, 164, 251, .5);
    --box-shadow: 0 0 5px rgba(0,0,0,.5);
    --max-width: 1100px;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
}
@font-face {
    font-family: outfit;
    src: url(../fonts/outfit/Outfit-Bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--lightBlue);
}
ul {
    padding: 0;
    list-style: none;
}
button,
input,
textarea {
    outline: none;
    border: 1px solid var(--blue);
}
button,
input[type="submit"] {
    cursor: pointer;
}
a:hover,a {
    text-decoration: none;
}
section,footer {
    width: 100%;
    padding: 5rem 2rem;
}
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }
    nav,section,footer{
        padding: 2rem 1rem;
    }
    .outro {
        padding: 1rem;
    }
}
@media (max-width: 480px) {
    html {
        font-size: 50%;
    }
}
.all-btn {
    padding: .5rem 1rem;
    background-color: var(--lightBlue);
    box-shadow: var(--box-shadow);
    color: var(--white);    
}
.coming {
    pointer-events: none;
}
.nav-wrapper,
.header-wrapper,
.section-wrapper,
.footer-wrapper {
    width: 100%;
    max-width: var(--max-width)!important;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
textarea {
    resize: none;
}
body {
    overflow-x: hidden;
    font-family: roboto, "Helvetica Neue", sans-serif;
    font-size: 1.8rem;
}
/* header and nav */
header {
    height: 100vh;
    background: var(--blue);
    padding: 1rem;
}
nav {
    padding: 2rem 4rem;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-box {
    width: 150px;
    height: auto;
    border-radius: 6px;
    overflow: hidden;
}
.logo-box img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-list a {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: bold;
    font-family: roboto, sans-serif;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -ms-transition: .4s;
}
.nav-list a:hover,
.nav-list a:focus {
    color: var(--lightBlue);
}
.header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    height: calc(100vh - 170px);
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.header-wrapper .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    margin-top: 2rem;
}
.header-wrapper .content-box {
    max-width: 450px;
}
.header-wrapper .content-img {
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
}
.header-wrapper .content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-wrapper .content-wrapper h1 {
    font-size: 3.5rem;
    font-family: outfit;
    margin-bottom: 1rem;
}
.header-wrapper .content-wrapper p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-weight: normal;
    color: var(--white2);
}
.download-box {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

@media (max-width: 768px) {
    .logo-box {
        width: 130px;
        border-radius: 0;
    }
    .logo-box img {
        border-radius: 0;
    }
    .nav-list a {
        font-size: 1.8rem;
    }
    .header-wrapper {
        flex-direction: column;
        /* height: calc(100vh - 180px); */
        overflow: hidden;
        gap: 1rem;
    }
    .header-wrapper .content-wrapper {
        flex-direction: column;
        height: 100%;
    }
    .header-wrapper .content-box {
        width: 100%;
        max-width: none;
        padding: 2rem;
        margin-top: 5rem;
    }
    .header-wrapper .content-img {
        width: 100%;
        max-width: none;
        max-height: 300px;
    }
    .header-wrapper .content-wrapper h1 {
        font-size: 3rem;
    }
}

/* end of header and nav */
.divider {
    width: 100%;
    color: var(--black);
    background: var(--grayLight);
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: outfit;
    padding: 2rem;
}
/* hero section */
.hero {
    background: var(--blueLight);
}
.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.hero-wrapper .content-box {
    padding: 1rem;
}
.hero-wrapper .img-box,
.hero-wrapper .content-box {
    flex: 1;
}
.hero-wrapper .img-box img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.hero-wrapper h2 {
    margin-bottom: 1rem;
}
.hero-wrapper .all-btn {
    margin-top: 1rem;
    background-color: blue;
    padding: 0.5rem 1rem;
    color: var(--white);
    font-size: 2rem;
    border-radius: 6px;
    font-weight: bold;
    animation: colorchange 2s ease-in infinite;
}
@keyframes colorchange {
    0% {
        color: #4944be;
    }
    40% {
        background-color: rgb(12, 165, 165);
    }
    50% {
        background-color: rgb(59, 59, 162);
    }
    100% {
        background-color: rgb(170, 122, 49);
    }
}
@media (max-width: 768px) {
    .hero-wrapper {
        flex-direction: column;
    }
    .hero-wrapper .img-box {
        width: 80%;
        height: 30rem;
    }
    .hero-wrapper .img-box, .hero-wrapper .content-box {
        flex: none;
    }
    .review-divider h4 {
        font-size: 1.6rem;
    }
    .hero-wrapper h2 {
        font-size: 1.8rem;
    }
}
/* end of hero section */
.review-divider {
    width: 100%;
    background: var(--blue);
    color: var(--white);
    font-weight: bold;
    font-size: 2rem;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
} 
.review-divider h4 {
    text-align: center;
}
.review-divider button {
    background: none;
    color: var(--grayLight);
}
/* text section */
.text {
    background: var(--lightorange);
}
.text h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: normal;
}
.text p {
    margin-bottom: 2rem;
}
.secure-img {
    width: 100%;
    height: 32rem;
    position: relative;
}
.secure-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secure-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 128, 0,.3);
}
/* end of text section */
/* testimonial section */
.testimonial-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.testimonial .title {
    text-align: center;
    text-transform: capitalize;
    color: var(--blue);
}
.testimonial-wrapper .box {
    width: 20rem;
    height: 30rem;
    border: 2px solid var(--black);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--blueLight);
}
.testimonial .img-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
.testimonial-wrapper .box .up {
    background-color: var(--blueLight);
    color: var(--white);
    padding: 1rem;
    text-align: center;
    border-bottom-left-radius: 30px;
}
.testimonial-wrapper .box .msg {
    padding: 1rem;
    font-style: italic;
    max-height: 20rem;
    overflow: hidden;
    overflow-y: auto;
    color: var(--gray);
}
.testimonial-wrapper .box .msg::-webkit-scrollbar {
    width: 0.5rem;
}
/* end of testimonial section */
/* contact */
form {
    max-width: 30rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    margin-top: 1rem;
}
form input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}
textarea {
    height: 15rem;
    overflow-y: auto;
}
form input[type="submit"] {
    background: var(--blue);
    color: var(--white);
}
/* end of contact */
@media (max-width: 480px) {
    .testimonial-wrapper .box {
        width: 100%;
    }
    .nav-list {
        gap: 1rem;
    }
    nav {
        padding: 1rem 0;
    }
    .nav-list a {
        font-size: 1.5rem;
    }
    .logo-box {
        width: 100px;
    }
    .divider {
        font-size: 1.6rem;
    }
    header {
        overflow: hidden;
    }
    .header-wrapper {
        position: relative;
        height: calc(100vh - 56px);
    }
    .header-wrapper .content-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: none;
    }
    .hero-wrapper .img-box {
        width: 100%;
        height: 35rem;
    }
    .download-box {
        width: 100%;
        margin-top: 2rem;
    }
    .download-box a {
        width: 20rem;
    }
    .download-box a img {
        width: 100%;
        height: 100%;
    }
    .header-wrapper .content-wrapper h1 {
        font-size: 4rem;
    }
    .review-divider,
    section {
        padding: 1rem;
    }
    form {
        width: 100%;
        max-width: none;
    }
    .text h2 {
        font-size: 1.8rem;
    }
    .text h2 + p {
        font-size: 1.6rem;
    }
}
/* values */
.values h2 {
    color: var(--blue);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.values-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.values-wrapper .box {
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    width: 25rem;
}
.values-wrapper .box h4 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--blue);
    text-align: center;
}
.values-wrapper .box p {
    color: var(--gray);
    font-size: 1.6rem;
}
@media (max-width: 480px) {
    .values-wrapper .box {
        width: 100%;
    }
    footer .footer-links a {
        margin-bottom: 1rem;
    }
}
/* end of values */
/* terms and privacy */
.security .title,
.terms .title,
.privacy .title {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--blue);
}
.security .sub-title,
.terms .sub-title,
.privacy .sub-title {
    color: var(--blue);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.terms p,
.privacy p {
    margin-top: 1rem;
}
/* end of terms and privacy */
/* footer */
footer {
    background: var(--blue);
    color: var(--white);
}
footer .img-box {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}
footer .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-links {
    margin-top: 1.5rem;
}
footer .footer-links a {
    color: var(--white);
    text-transform: capitalize;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -ms-transition: .4s;
}
footer .footer-links a:hover,
footer .footer-links a:focus {
    color: var(--blueLight);
}
footer .outro {
    background: var(--black);
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem;
}
/* end of footer */